<div class="container">
  <mat-grid-list cols="3" rowHeight="45%">
    <mat-grid-tile colspan="2" rowspan="2">
      <div *ngIf="user" style="position: absolute; left: 2%; top: 5%">
        <h1 style="padding-top: 1vh">Welcome back, {{ user.name }}!</h1>
        <!-- <h3 style="padding-top: 1vh">
        Are you still reading
        <span style="font-style: italic">The Power of Habit?</span>
      </h3>
      <button mat-raised-button color="primary" style="padding-top: 1vh">
        You can update its entry here
      </button> -->
      </div>
      <div *ngIf="!user" style="position: absolute; left: 2%; top: 5%">
        <h1 style="padding-top: 1vh">
          Welcome to Book Hero, your complete solution for keeping track of and
          sharing your book list!
        </h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card style="height: 95%; width: 80%" *ngIf="user">
        <h2>Stats</h2>
        <h4 style="line-height: 12px">Completed: {{ stats.completed }}</h4>
        <h4 style="line-height: 12px">Dropped: {{ stats.dropped }}</h4>
        <h4 style="line-height: 12px">On-hold: {{ stats.onHold }}</h4>
        <h4 style="line-height: 12px">Reading: {{ stats.reading }}</h4>
        <h4 style="line-height: 12px">Plan to read: {{ stats.planToRead }}</h4>
        <h4 style="line-height: 12px">Pages read: {{ stats.pagesRead }}</h4>
        <h4 style="line-height: 12px">
          Average rating: {{ stats.averageRating }}
        </h4>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card style="height: 90%; width: 80%" *ngIf="user">
        <h2>Friend Activity</h2>
        <mat-card-content>
          <h3>Coming soon!</h3>
          <!-- <p>
          John Doe is currently reading:
          <span style="font-style: italic"
            >How to Win Friends and Influence People</span
          >
          ...
        </p>
        <p>
          Bryan Horne is currently reading:
          <span style="font-style: italic">The Slight Edge</span>
          by Jeff Olsen
        </p>
        <p>
          Sally Johnson just finished:
          <span style="font-style: italic">The Art of War</span>
          by Sun Tzu
        </p> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
