<mat-grid-list cols="4" rowHeight="25vh">
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="container">
      <mat-card-title>Filters</mat-card-title>
      <section [formGroup]="filters">
        <p>
          <mat-checkbox color="primary" formControlName="completed"
            >Completed</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox color="primary" formControlName="dropped"
            >Dropped</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox color="primary" formControlName="onHold"
            >On-hold</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox color="primary" formControlName="reading"
            >Reading</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox color="primary" formControlName="planToRead"
            >Plan to read</mat-checkbox
          >
        </p>
      </section>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="2"
    rowspan="{{ bookList.length < 6 ? 6 : bookList.length + 1 }}"
  >
    <div class="book-list-container">
      <mat-card *ngFor="let entry of bookList" class="book-list-entry">
        <img
          src="{{ entry.book.coverImage }}"
          alt=""
          class="book-list-entry-image"
          width="25%"
        />
        <div class="book-list-entry-text">
          <mat-card [ngClass]="[entry.status, 'book-list-entry-status-text']">{{
            entry.status
          }}</mat-card>
          <mat-card
            [ngClass]="['rating-' + entry.rating, 'book-list-entry-rating']"
            *ngIf="entry.rating"
          >
            {{ entry.rating }} / 10
          </mat-card>
          <mat-card
            [ngClass]="['rating-' + entry.rating, 'book-list-entry-no-rating']"
            *ngIf="!entry.rating"
          >
            No rating yet
          </mat-card>
          <mat-card [ngClass]="['book-list-entry-category']">{{
            entry.book.categories[0]
              ? entry.book.categories[0]
              : 'No genre information'
          }}</mat-card>
          <mat-card-title class="book-list-entry-title">{{
            entry.book.title
          }}</mat-card-title>
          <mat-card-content>
            <h3>by {{ entry.book.author }}</h3>
            <div class="line-clamp">
              <p>{{ removeTags(entry.book.blurb) }}</p>
            </div>
          </mat-card-content>
        </div>
      </mat-card>

      <mat-card class="no-books" *ngIf="bookList.length == 0"
        >Nothing to display</mat-card
      >
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="3">
    <div class="add-a-book-container">
      <mat-card class="container">
        <mat-card-title class="add-a-book-header">Add a book</mat-card-title>
        <form class="search-form">
          <mat-form-field class="full-width" style="width: 100%">
            <mat-chip-list #chipList>
              <mat-chip
                style="margin-top: 0.4em"
                *ngFor="let option of titleSelected"
              >
                <span>{{ option }}</span>
              </mat-chip>
              <input
                #autocompleteInput
                type="text"
                placeholder="Enter title"
                aria-label="Number"
                matInput
                [formControl]="searchControl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of autoCompleteList"
                  [value]="option.volumeInfo.title"
                  (onSelectionChange)="filterBookList($event)"
                >
                  {{ option.volumeInfo.title }} by
                  {{ option.volumeInfo.authors }}
                </mat-option>
              </mat-autocomplete>
            </mat-chip-list>
          </mat-form-field>
        </form>
        <form>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="addBookStatus" name="addBookStatus">
                <mat-option value="Completed">Completed</mat-option>
                <mat-option value="Dropped">Dropped</mat-option>
                <mat-option value="On-hold">On-hold</mat-option>
                <mat-option value="Reading">Reading</mat-option>
                <mat-option value="Plan to read">Plan to read</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              *ngIf="addBookStatus == 'Completed' || addBookStatus == 'Dropped'"
            >
              <mat-label>Rating</mat-label>
              <mat-select [(ngModel)]="addBookRating" name="addBookRating">
                <mat-option
                  *ngFor="let option of ratings"
                  [value]="option.value"
                  >{{ option.text }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="addBookStatus == 'Completed'">
              <mat-label>Review</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field
              *ngIf="addBookStatus == 'Reading' || addBookStatus == 'On-hold'"
            >
              <input matInput name="currentPage" placeholder="Current Page" />
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              *ngIf="
                !(addBookStatus == 'Plan to read' || addBookStatus == null)
              "
            >
              <mat-label>Start date</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              *ngIf="
                !(
                  addBookStatus == 'Plan to read' ||
                  addBookStatus == 'Reading' ||
                  addBookStatus == null
                )
              "
            >
              <mat-label>End date</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
          <button
            mat-raised-button
            color="primary"
            class="btn-block"
            type="submit"
            style="position: absolute; bottom: 2%; width: 90%"
          >
            Add entry!
          </button>
        </form>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="container">
      <mat-card-title>Stats</mat-card-title>
      <mat-card-content>
        <h3>Total books/pages read: 69/4200</h3>
        <h3>Completed</h3>
        <h3>Average rating: 7.2</h3>
        <h3>Favorite Author: Dale Carnegie</h3>
        <h3>Favorite Book: How to Win Friends and Influence People</h3>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
