<mat-grid-list cols="4" rowHeight="25vh">
  <mat-grid-tile colspan="1" rowspan="3">
    <div class="top-container container">
      <mat-card class="container">
        <mat-card-title>Filters</mat-card-title>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="{{ bookList.length + 1 }}">
    <div class="book-list-container">
      <mat-card *ngFor="let entry of bookList" class="book-list-entry">
        <img
          src="{{ entry.book.coverImage }}"
          alt=""
          class="book-list-entry-image"
          width="25%"
        />
        <div class="book-list-entry-text">
          <mat-card-title class="book-list-entry-title">{{
            entry.book.title
          }}</mat-card-title>
          <mat-card-content>
            <h3>by {{ entry.book.author }}</h3>
            <div class="line-clamp">
              <p>{{ removeTags(entry.book.blurb) }}</p>
            </div>
          </mat-card-content>
        </div>
        <div [ngClass]="[entry.status, 'book-list-entry-status']"></div>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="3">
    <div class="add-a-book-container">
      <mat-card class="container">
        <mat-card-title>Add a book</mat-card-title>
        <form>
          <mat-card-content>
            <mat-form-field class="full-width">
              <input
                matInput
                type="text"
                class=""
                name="title"
                placeholder="Enter title"
              />
            </mat-form-field>

            <mat-form-field class="full-width">
              <input
                matInput
                type="text"
                class=""
                name="author"
                placeholder="Enter author"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="addBookStatus" name="addBookStatus">
                <mat-option value="Completed">Completed</mat-option>
                <mat-option value="Dropped">Dropped</mat-option>
                <mat-option value="On-hold">On-hold</mat-option>
                <mat-option value="Reading">Reading</mat-option>
                <mat-option value="Plan-to-read">Plan-to-read</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              *ngIf="addBookStatus == 'Completed' || addBookStatus == 'Dropped'"
            >
              <mat-label>Rating</mat-label>
              <mat-select [(ngModel)]="addBookRating" name="addBookRating">
                <mat-option
                  *ngFor="let option of ratings"
                  [value]="option.value"
                  >{{ option.text }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="addBookStatus == 'Completed'">
              <mat-label>Review</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-card-content>
          <button
            mat-raised-button
            color="primary"
            class="btn-block"
            type="submit"
            style="position: absolute; bottom: 2%; width: 90%"
          >
            Add entry!
          </button>
        </form>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="container">
      <mat-card-title>Stats</mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
