@import '../../styles.scss';
@import '~@angular/material/theming';

.container {
  width: 80%;
  height: 95%;
}

.book-list-entry-image {
  position: absolute;
  top: 4%;
  height: 92%;
  border-radius: 30px;
}

.book-list-entry-title {
  font-size: 15pt;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-list-entry {
  margin: 0 0 10px 0;
  height: 25vh;
}

.book-list-entry-status-text {
  position: absolute;
  right: 0%;
  top: 0%;
  text-align: right;
  align-self: right;
}

.book-list-entry-status-bar {
  position: absolute;
  left: 95%;
  top: 6%;
  width: 4%;
  height: 90%;
  border-radius: 30px;
}

.no-books {
  height: 100vh;
  width: 80vw;
}

.Reading {
  background-color: mat-color($client-primary);
}

.Completed {
  background-color: lightgreen;
}

.On-hold {
  background-color: lightcoral;
}

.Dropped {
  background-color: mat-color($client-warn);
}

.Plan-to-read {
  background-color: lightslategray;
}

.book-list-container,
.add-a-book-container {
  width: 100%;
  position: absolute;
  top: 2vh;
  height: 95%;
}

.top-container {
  padding-top: 2.5vh;
}

.book-list-entry-text {
  position: absolute;
  left: 30%;
  top: 6%;
  width: 68%;
  height: 100%;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
